<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EJS WEATHER</title>
</head>
<body>
  <main>
    <h2>Find the weather near you</h2>
    <p>Type your zipcode into the box and press the button to find the weather at that location</p>
    <form action="/weather" method="GET">
      <input type="text" name="zipcode">
      <input type="submit" value="Find the Weather">
    </form>
  </main>
</body>
</html>