<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Forecast</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="container">
        <h1> How is the Forecast at your location today ?</h1>
        <form action="/weather" method="GET">
            <input name="zipcode"type="number" class="input" placeholder="Enter a ZipCode" required>
            <input type="submit" class="button" value="Get Info">
        </form> 
        <% if(weather !== null){ %>
            <p><%= weather %></p>
          <% } %>
  
          <% if(error !== null){ %>
            <p><%= error %></p>
          <% } %>
    </div>
</body>
</html>