<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EJS WEATHER</title>
</head>
<body>
  <main>
    <h1>RESULTS FOR <%= zipcode %></h1>
    <!-- Location -->
      <!-- Name, Zipcode -->
    <!-- Current -->
      <!-- day -->
      <!-- temperature -->
      <!-- skytext -->
      <!-- feelslike -->
      <!-- humidity -->
      <!-- winddisplay -->
      <!-- imageURL -->
    <!-- Forecast [Array of Objects] -->
      <!-- high -->
      <!-- low -->
      <!-- skytextday -->
      <!-- day -->
  </main>
</body>
</html>